[Unit]
Description=Podman Security Demo Container
After=network-online.target

[Container]
Image=148737623247.dkr.ecr.us-east-2.amazonaws.com/podman-demo:latest
PublishPort=8080:80
AutoUpdate=registry

[Install]
WantedBy=default.target
