[Unit]
Description=Podman Security Demo Container
After=network-online.target

[Container]
EnvironmentFile=/etc/podman-demo/image.env
Image=${APP_IMAGE}
PublishPort=8080:80

[Install]
WantedBy=default.target
